* {
	padding: 0px;
	margin: 0px;
}


@font-face {
	font-family: 'myFont';
	src: url('hdad-segment14-1.002/digital-7.ttf');
}


body{ background: #E5E5E5; color: #fff;}
#wrapper{ width: 1024px; margin: 0px auto;}
#header, #footer { min-height: 150px; text-align: center;}
#content{ width: 70%; float: left; min-height: 500px; margin: 20px 0px;   }
#sidebar{ width: 30%; float: right;margin: 20px 0px; min-height: 500px; padding-left: 20px; }
.block_sidebar { min-height: 150px; margin-bottom: 20px;}
#header, #footer{ background:#000; }
#content{    background: #44C52C;}
.block_sidebar{ background: #D86262; }



